table.master{                           
    background:#cccc99;
    padding:0.2em 0.4em;      
    text-align: center;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	border-width: 2px 2px 2px 2px;
    border-style:solid;
    border-color: #903;
}

table.master td{                           
    background:#cccc99;      
    text-align: center;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	vertical-align:top;
}

table.title {
	width:100%;
}

table.title td {
	text-align: center;
    font-size:18;
	font-weight:800;
    font-family: Verdana, Tahoma, Helvetica, Arial;
}

table.players{ 
	width:100%;                          
    margin:0; 
    font-size:14px;
    text-align:center; 
    font-family: Verdana, Tahoma, Helvetica, Arial;
	border-collapse:collapse;
}

table.players th{   
    margin:0; 
    font-size:14px;
    text-align:center;
	padding:3px 3px 3px 3px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	vertical-align:central;
	border-width: 1px 1px 1px 1px;
    border-style:solid;
    border-color: #000;
}

table.players td {
    padding: 3px 3px 3px 3px;
	text-align:left;
	font-size:12px;
	border-width: 1px 1px 1px 1px;
    border-style:solid;
    border-color: #000;
	height:30px;
}

div.print {
	page-break-after:always;
	width:100%;
}

div.print:last-child {
     page-break-after:auto;
}

reg{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 12px;
}
long{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 10px;
}
