
@mixin score-reporter($c-primary: #6cc907) {
	
	h1, h2, h3, h4, h5 {
		font-weight:bold;
		color:$c-primary;
	}
	
	.label.label-default {
		background:$c-primary;
	}
	
	.form-control:focus {
		border-color: $c-primary;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba($c-primary,0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba($c-primary,0.6);
	}
	
	.btn.btn-default {
		&:hover, &:focus, &:active, &.active {
			background-color: lighten($c-primary, 10%);
			border-color: $c-primary;
			color:white;
		}
		
		&:active, &.active {
			-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.3);
			box-shadow: inset 0 3px 5px rgba(0,0,0,0.3);
		}
	}
	
	.ui-spinner {
		.ui-button {
			&:hover, &:focus {
				background:$c-primary;
				color:white;
				border-color:darken($c-primary, 10%);
			}
		}
	}
	
	.slider {
		.slider-track .slider-selection.tick-slider-selection,
		.slider-tick.in-selection {
			background:lighten($c-primary, 10%);
		}
		
		.slider-handle {
			background:$c-primary;
		}
	}
	
	.btn.btn-primary {
		background:$c-primary;
		border-color:darken($c-primary, 15%);
		
		&:hover, &:focus {
			background:darken($c-primary, 10%);
		}
	}
}