// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "_base";
@import "_scoreReporter";
@import "_login";
@import "_dashboard";

html {
	color:$c-primary;
	font-size:16px;
	
	body {
		font-size:16px;
	}
}

.container-fluid {
	max-width:1000px;
	margin:auto;
	padding:15px;
}

h1, h2, h3, h4, h5 {
	font-weight:bold;
	color:$c-primary;
}

img {
	max-width:100%;
	height:auto;
}

a {
	color:$c-secondary;
	@include transition();
	
	&:hover, &:focus {
		color:darken($c-secondary, 5);
	}
}

.row {
	@include flexbox();
	align-items:center;
}

.float-right {
	float:right;
}

.float-left {
	float:left;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

input[type="button"], input[type="submit"], button, .button, .btn, a {
	@include transitionManual(background-color 0.3s ease);
}

span.required {
	color:$c-red;
}

form .error, .red {
	color:$c-red;
}

.btn.btn-secondary {
	background:$c-secondary;
	color:white;
	
	&:hover, &:focus {
		background:darken($c-secondary, 5);
	}
}

.form-control:focus {
	border-color: $c-secondary;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba($c-secondary,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba($c-secondary,0.6);
}

.ui-spinner {
	overflow:visible;
	
	input {
		width:100%;
		margin:0;
		padding:5px;
	}
	
	.ui-spinner-button {
		&, &:hover, &:focus, &:active, .ui-button-icon {
			background-image:none;	
		}
	}
	
	span.ui-icon {
		font-family:$f-glyph;
		font-size:10px;
		background:none;
		
		&:before {
			@include positionCenter;
			text-indent:0;
		}
	}
	
	.ui-spinner-down .ui-icon:before {
		content:"\e252";
	}
	
	.ui-spinner-up .ui-icon:before {
		content:"\e253";
	}
}

.slider.slider-horizontal {
	margin:0 10px;
	width:calc(100% - 20px);
	width:-webkit-calc(100% - 20px);
	
	~ .sliderValue {
		width:40px;
		display:inline-block;
		font-size:2em;
		font-weight:bold;
		text-align:center;
		margin-left:-0.3em;
	}
}

.scoreReporter {
	
	&.scoreReporter-1 { /* ultimate */
		@include score-reporter(#AD0909);
	}
	
	&.scoreReporter-2 { /* beach */
		@include score-reporter(#1488DB);
	}
	
	&.scoreReporter-3 { /* football */
		@include score-reporter(#14B33D);
	}
	
	&.scoreReporter-4 { /* soccer */
		@include score-reporter(#424242);
	}
	
	.spirit-row {
		margin-top:30px;
	}
}

legend {
	small {
		display:block;
		font-size:$f-smaller;
		color:lighten($c-primary, 20%);
	}
}

.f-small {
	font-size:$f-small;
}

.f-smaller {
	font-size:$f-smaller;
}

.sport-panel {
	box-shadow: 0px 4px 12px -2px rgba(#888888, 0.5);
	border-width:0px 0px 4px 0px;
	border-style:solid;
	border-radius:5px;
	background-color:#FFF;
	width:200px;
	height:150px;
	line-height:120px;
	padding:15px;
	margin:auto;
	@include transition();
	
	&:hover {
		box-shadow: 0px 4px 12px 2px rgba(#888888, 0.5);
	}
	
	&.sport-panel-1 {
		border-bottom-color:#C3121C;
		
		&:hover {
			background:rgba(#C3121C, 0.05);
		}
	}
	
	&.sport-panel-2 {
		border-bottom-color:#0066CC;
		
		&:hover {
			background:rgba(#0066CC, 0.05);
		}
	}
	
	&.sport-panel-3 {
		border-bottom-color:#474F54;
		
		&:hover {
			background:rgba(#474F54, 0.05);
		}
	}
	
	&.sport-panel-4 {
		border-bottom-color:#0A790A;
		
		&:hover {
			background:rgba(#0A790A, 0.05);
		}
	}
}