table.teamTable {
	width:100%;
	background:#FFF;
    padding:0px 0px 0px 0px;      
    text-align: center;
    font-size: 10;
    font-family: Verdana, Tahoma, Helvetica, Arial; 	
}

table.teamTable tr {
	font-size: 10;
    font-family: Verdana, Tahoma, Helvetica, Arial; 
	padding: 0px 0px 0px 0px;
	border-collapse:collapse;
}

table.teamTable td {
	text-align:center;
	font-size: 10;
    font-family: Verdana, Tahoma, Helvetica, Arial; 
	padding: 0px 0px 0px 0px;
	border-collapse:collapse;
}