html{
	top:0;
	height:100%;
	text-align:left;
	padding:0;
}

body {
	top:0;
	height: 100%;
	width:100%;
	margin: 0;
	padding:0;
	text-align:left; 
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5em;
	background-color:#fff;
}

@font-face {
    font-family: "Sonsie";
    src: url(Sonsie.ttf) format("truetype");
}

/*a:link{ color: #FE1329; }

a:visited{ color: #FE1329; }

a:hover, a:focus{ color: #FE1329;text-decoration:none; }*/

a { font-size:14px; font-weight:100; }

a:link {color:#000;}      /* unvisited link */
a:visited {color:#000;}  /* visited link */
a:hover {color:#FE1329;}  /* mouse over link */
a:active {color:#000;}  /* selected link */

p{	margin:1em 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p{	margin-top:-0.05em;}

h1, h2, h3, h4, h5, h6{ color: #FE1329; margin-bottom:0.5em; font-family:Sonsie; }

h1{ font-size:24px; text-align:center; padding:20px;}

h2{	font-size:20px;}

h3{	font-size:18px;}

h4{	font-size:16px;}

h5{	font-size:14px;}

h6{	font-size:12px;}

em{font-style:italic;}

strong{font-weight:bold;}

em strong, strong em{ font-weight:bold; font-style:italic; }

#search {
	display:block;
	width:100%;
	background-color:#FE1329;
	height:7%;
	z-index:4;
	font-size:14px;
	font-weight:500;
}

#logo{
	display:block;
	position: absolute;
	width:14%;
	border:2px solid #4F4D4D;
	overflow:hidden;
	background-color:#FE1329;
	z-index:200;
	margin:2px 4px;
}

#container{
	display: block;
	position: absolute;
	width:100%;
	height:93%;
	top:7%;
	left:0px;
	border: none;
	background-color: #4F4D4D;
	z-index:2;
}

#content{
	width: 85%;
	height:100%;
	left:15%;
	top:0px;
	position:absolute;
	display:inline;
	background-color: #FFF;
}

#content table {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	margin:0;
}

#footer {
	position: absolute;
	bottom: 0;
	margin:0;
	width:100%;
	text-align:center;
	left:0;
}

/* Starter CSS for Flyout Menu */
#cssmenu {
	display:block;
	position: absolute;
	list-style:none;
	width:14%;
	z-index:597;
	top:2px;
	text-align:left;
}

#cssmenu ul, #cssmenu li {
  list-style:none;
  margin: 0;
  padding: 0; }

#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left; }

#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1.5em;
  vertical-align: middle; }

#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; }

#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
  color:#FFF; }

#cssmenu ul ul li {
  float: none; }

#cssmenu ul ul, #cssmenu ul ul ul {
  top: 0px;
  left: 99%; }

#cssmenu ul li:hover > ul {
  visibility: visible; }

#cssmenu ul li {
  float: none; }

#cssmenu a {
  display: block; }

/* Custom CSS Styles */
#cssmenu {
  font-family: 'Segoe UI', Arial, sans-serif;
  }
  #cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both; }
  #cssmenu ul {
    background: #4F4D4D;
    border: 1px solid #FE1329;
    padding: 4px;
    width: 100%; }
    #cssmenu ul li {
      color: #FFF;
      position: relative; }
      #cssmenu ul li.hover, #cssmenu ul li:hover {
        background: #cc001f url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAARCAMAAAArHTYgAAAAM1BMVEVMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNeSdtTAAAAEHRSTlP2697Pv66biXZkUUAwIRQJC+dRrgAAACJJREFUeF4FwIcNgCAAALCyN/r/tcSPIEqyomq6YVq24/oeBwoAieqEWU4AAAAASUVORK5CYII=) repeat-x;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #df0224), color-stop(1, #cc001f));
        background-image: -webkit-linear-gradient(top, #df0224, #cc001f);
        background-image: -moz-linear-gradient(top, #df0224, #cc001f);
        background-image: -ms-linear-gradient(top, #df0224, #cc001f);
        background-image: -o-linear-gradient(top, #df0224, #cc001f);
        background-image: linear-gradient(#df0224, #cc001f);
        color: #FFF; }
        #cssmenu ul li.hover > a, #cssmenu ul li:hover > a {
          color: #FFF;
          border: 1px solid #df0224; }
    #cssmenu ul ul {
      width: 250px; }
  #cssmenu a {
    border: 1px solid transparent;
    padding: 3px 10px; }
    #cssmenu a:link, #cssmenu a:visited {
      color: #fff;
      text-decoration: none; }
    #cssmenu a:hover {
		color:#46484e;
      background: #df0224 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAARCAMAAAArHTYgAAAAM1BMVEVMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNMjiNeSdtTAAAAEHRSTlP2697Pv66biXZkUUAwIRQJC+dRrgAAACJJREFUeF4FwIcNgCAAALCyN/r/tcSPIEqyomq6YVq24/oeBwoAieqEWU4AAAAASUVORK5CYII=) repeat-x;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f80026), color-stop(1, #df0224));
      background-image: -webkit-linear-gradient(top, #f80026, #df0224);
      background-image: -moz-linear-gradient(top, #f80026, #df0224);
      background-image: -ms-linear-gradient(top, #f80026, #df0224);
      background-image: -o-linear-gradient(top, #f80026, #df0224);
      background-image: linear-gradient(#f80026, #df0224);
	  }
    #cssmenu a:active {
      color: #ffa500; }
  #cssmenu .has-sub:hover > a:after, #cssmenu .has-sub.hover > a:after {
    border-color: transparent transparent transparent #FFF; }
  #cssmenu .has-sub > a:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -4px;
    -webkit-transform: rotate(360deg); }
