table.master{                           
    text-align: center;
	color:#000;  
}

table.master td{                           
    text-align: center;
	vertical-align:top;
	border: 1px solid #E82C2C;
	border-collapse:collapse;
}

table.titleBox{ 
	width:100%;                          
    margin:0; 
    font-size:20px;
    font-weight:bold; 
    text-align:center;      
    font-family: Verdana, Tahoma, Helvetica, Arial;
	background: #AD0909;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E82C2C', endColorstr='#AD0909',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E82C2C), color-stop(1, #AD0909));
	background-image: -webkit-linear-gradient(top, #E82C2C, #AD0909);
	background-image: -moz-linear-gradient(top, #E82C2C, #AD0909);
	background-image: -ms-linear-gradient(top, #E82C2C, #AD0909);
	background-image: -o-linear-gradient(top, #E82C2C, #AD0909);
	background-image: linear-gradient(#E82C2C, #AD0909);
}

table.titleBox th{   
    margin:0; 
    font-size:20px;
    font-weight:700; 
    text-align:center;
	padding:10px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	color:#FFF;
	vertical-align:central;
	border: 1px solid #E82C2C;
}

table.getIDs {
	width:100%;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    font-size:14px;
	color:#666633;
	border:1px solid #E82C2C;
}

table.getIDs th {
    padding:5px;
	color:#000;
	text-align:center;
	font-size:14px;
	font-weight:600;
	border:none;
}

table.getIDs td {
    padding:5px;
	color:#000;
	text-align:center;
	font-size:14px;
	border:none;
}

table.leagueHeader {
	width:100%;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    font-size:14;
	color:#666633;
	border: 1px solid #E82C2C;
    padding: 5px;
}

table.leagueHeader th {
    padding: 5px;
	color:#000;
	text-align:center;
	font-size:14px;
	font-weight:600;
	border: 1px solid #E82C2C;
}

table.leagueHeader td {
    padding: 5px;
	color:#000;
	text-align:center;
	font-size:14px;
	border: 1px solid #E82C2C;
}

table.standingsData {
	width:100%;
    font-size:14px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    text-align:center;
	vertical-align:top;
	color:#000;
}

table.standingsData th {
    border: 1px solid #E82C2C;
    padding: 7px;
	font-weight:700;
	text-align:center;
	 
}

table.standingsData td {
    border: 1px solid #E82C2C;
    padding: 7px;
	text-align:center;
}

table.bottomButton{                           
    width:100%;
    font-size:15px;
    text-align:center; 
    color:#FFF;       
    font-family: Verdana, Tahoma, Helvetica, Arial;
	border: 1px solid #E82C2C;
	background: #AD0909;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E82C2C', endColorstr='#AD0909',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E82C2C), color-stop(1, #AD0909));
	background-image: -webkit-linear-gradient(top, #E82C2C, #AD0909);
	background-image: -moz-linear-gradient(top, #E82C2C, #AD0909);
	background-image: -ms-linear-gradient(top, #E82C2C, #AD0909);
	background-image: -o-linear-gradient(top, #E82C2C, #AD0909);
	background-image: linear-gradient(#E82C2C, #AD0909);
}

table.bottomButton td{                           
    width:100%;
    font-size:15px;
    text-align:center;
	padding:5px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	color:#FFF;
	vertical-align:central;
	border:none;
}

#userInput {
	width:250px;
	vertical-align:middle;
	text-align:center;
}
