h1, h2, h3, h4, h5, h6 {
	text-align:center;
}

h2 {
	text-decoration:underline;
	font-size:18px;
	margin:0;
}

h3 {
	font-weight:100;
	font-size:14px;
	margin-top:0;
}

img {
	height:432px;
	width:576px;
}

.centerImg {
	width:576px;
	margin-left:auto;
	margin-right:auto;
}

table.matchInfo {    
	border-collapse:collapse;
	border:#000 2px solid;
	margin-left:auto;
	margin-right:auto;
}

table.matchInfo th {
    padding: 2px 1px;
}

table.matchInfo td {
	border-collapse:collapse;  
	padding: 2px 1px;
	text-align:center;
}


table.matchInfo #gameNum {
	width:20px;
}

table.matchInfo #datePlayed {
	min-width:90px;
}

table.matchInfo #opponent {
	min-width:300px;
}

table.matchInfo #result {
	min-width:80px;
}

table.matchInfo #fieldName {
	min-width:200px;
}

table.matchInfo #gameTime {
	width:80px;
}

table.matchInfo #shirtColour {
	width:50px;
}
