body {
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
}

.login {
	font-family:Arial, Helvetica, sans-serif;
}

.login a {
	font-size:12px;
	text-decoration:none;
}

.container {
	text-align:center;
	margin-left:auto;
	width:100%;
}

img {
	width:200px;
	vertical-align:middle;
	border:none;
}


.pastTeams table{
	background-color:#DDD;
	width:100%;
	border-collapse:collapse;
	padding:2px;
	border:#333 solid 1px;
}

.pastTeams th {
	padding:5px 0px;
}

.pastTeams th span {
	font-weight:100;
	font-size:12px;
}

.pastTeams td {
	text-align:center;
	padding:4px 1px;
	font-size:12px;
	border-top:#333 solid 1px;
}

.registrationDate {
	color:#F00;
	text-transform:capitalize;
	font-weight:700;
	padding:15px 0px;
	background-color:#DDD;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

table.logosTable {
	text-align:center;
	background-color:#DDD;
	width:100%;
	border:1px solid black;
}

table.logosTable th {
	font-size:14px;
	text-align:center;
	color:#000;
}

table.logosTable td {
	padding:15px 5px;
}

#ultimateLogo, #volleyballLogo, #soccerLogo, #footballLogo 
{
	box-shadow: 0px 10px 5px #888888;
	border-width:0px 0px 4px 0px;
	border-style:solid;
	border-radius:5px;
	background-color:#FFF;
	width:200px;
	height:150px;
	display:table-cell;
	vertical-align:middle;
}

#ultimateLogo {
	border-color:#C3121C;
}
#volleyballLogo {
	border-color:#0066CC;
}
#soccerLogo {
	border-color:#474F54;
}
#footballLogo {
	border-color:#0A790A;
}