table, th, tr {
    padding: 4;
    text-align: left;
    font-size: small;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	border-style: grove;
	border-width: 2px;
	border: 2px solid black;
	border-color: #000000;
	border-collapse: collapse;
}
