table.master{                       
    padding:0.2em 0.4em;      
    text-align: center;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

table.master td{ 
    text-align: center;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	vertical-align:top;
	border-collapse:collapse;
}

table.titleBox{ 
	width:100%;                          
    font-size:20px;
    border:1px solid #1488db;
	border-collapse:collapse;
	background:#1488db;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44A7FC', endColorstr='#1488DB',GradientType=1 );
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#44a7fc),color-stop(1,#1488db));
	background-image:-webkit-linear-gradient(top,#44a7fc,#1488db);
	background-image:-moz-linear-gradient(top,#44a7fc,#1488db);
	background-image:-ms-linear-gradient(top,#44a7fc,#1488db);
	background-image:-o-linear-gradient(top,#44a7fc,#1488db);
	background-image:linear-gradient(#44a7fc,#1488db);
    text-align:center; 
    color:#FFF;       
    font-family: Verdana, Tahoma, Helvetica, Arial;
}

table.titleBox th{   
	text-align:center; 
    font-size:20px;
	font-weight:700;
	padding:5px;
	color:#FFF;
	vertical-align:central;
	border-collapse:collapse;
}

table.titleBox td{   
	text-align:center; 
    font-size:15px;
	padding:5px;
	color:#FFF;
	vertical-align:central;
	border-collapse:collapse;
}

table.searchInfo {
	width:100%;
    font-size:14px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    text-align:center;
    border:1px solid #1488db;
	color:#000;
	vertical-align:top;
}

table.searchInfo th {
    padding: 5px;
    border:1px solid #1488db;
	font-weight:700;
	text-align:center;
}

table.searchInfo td {
	padding:5px;
    border:1px solid #1488db;
	vertical-align:middle;
	text-align:left;
}

table.bottomButton{                           
    width:100%;
    font-size:20px;
	background:#1488db;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44A7FC', endColorstr='#1488DB',GradientType=1 );
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#44a7fc),color-stop(1,#1488db));
	background-image:-webkit-linear-gradient(top,#44a7fc,#1488db);
	background-image:-moz-linear-gradient(top,#44a7fc,#1488db);
	background-image:-ms-linear-gradient(top,#44a7fc,#1488db);
	background-image:-o-linear-gradient(top,#44a7fc,#1488db);
	background-image:linear-gradient(#44a7fc,#1488db);
    border:1px solid #1488db;
	border-collapse:collapse;
    text-align:center; 
    color:#FFF;       
    font-family: Verdana, Tahoma, Helvetica, Arial;
}

table.bottomButton td{                           
    width:100%;
    font-size:20px;
	padding:10px 10px 10px 10px;
	vertical-align:central;
}

table.standingsTable {
	width:100%;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    text-align: left;
    border:1px solid #1488db;
	color:#000;
	vertical-align:top;
}

table.standingsTable th {
    border:1px solid #1488db;
    padding: 2px;
	font-weight:700;
	text-align:center;
}

table.standingsTable td {
	border:1px solid #1488db;
	padding:5px;
}

#standings {
	width:20px;
}

reg{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 12px;
}
long{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 10px;
}