body {
	text-align:center;
	background-color:#FFF;
	width:99%;
}

p {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

div {
	width:99%;
}

p.head {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	padding-top:40px;
}

div.image {
	padding:20px 0px;
}

div.container {
	width:99%;
	float:none;
	margin-left:auto;
	margin-right:auto;
	padding:20px 0px;
	vertical-align:middle;
}

div.link {
	float: left;
	width: 32%;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	text-align:center;
}