table.master{                           
    padding:0.2em 0.4em;      
    text-align: center;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial; 
}

table.master td{                           
    text-align: center;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	vertical-align:top;
}

table.titleBox{ 
	width:100%;                          
    margin:0; 
    font-size:20px;
    font-weight:bold; 
    border:1px solid #B84DDB;
	background: #7A00A3;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B84DDB', endColorstr='#7A00A3',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B84DDB), color-stop(1, #7A00A3));
	background-image: -webkit-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: -moz-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: -ms-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: -o-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: linear-gradient(#B84DDB, #7A00A3);
    font-family: Verdana, Tahoma, Helvetica, Arial;
	color:#fff;
    text-align:center; 
}

table.titleBox th{   
    margin:0; 
    font-size:30px;
    font-weight:bold; 
    text-align:center;
	padding:10px 10px 15px 10px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	color:#fff;
	vertical-align:central;
}

table.getIDs {
	width:100%;
    border:1px solid #B84DDB;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    font-size:14;
	font-weight:500; 
	color:#000;
}
table.getIDs td {
    padding:10px 10px 10px 10px;
	color:#000;
	text-align:center;
	font-size:14px;
}

table.playerInfo {
	width:100%;
	height:100%;
	column-fill:auto;
    font-size: 12;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    text-align: left;
    border:1px solid #B84DDB;
	color:#990033;
	vertical-align:top;
}

table.playerInfo th {
    border:1px solid #B84DDB;
    padding: 2px;
	color:#000;
	font-weight:700;
	text-align:center;
	 
}

table.playerInfo td {
	padding:10px 10px 10px 10px;
    border:1px solid #B84DDB;
	color:#000;
}

table.bottomButton{                           
    width:100%;
	background: #7A00A3;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B84DDB', endColorstr='#7A00A3',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B84DDB), color-stop(1, #7A00A3));
	background-image: -webkit-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: -moz-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: -ms-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: -o-linear-gradient(top, #B84DDB, #7A00A3);
	background-image: linear-gradient(#B84DDB, #7A00A3);
	color:#fff;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    font-size:20px;
    border:1px solid #B84DDB;
    text-align:center; 
}

table.bottomButton td{                           
    width:100%;
    margin:0; 
    font-size:20px;
    text-align:center;
	padding:10px 10px 10px 10px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	color:#fff;
	vertical-align:central;
}

#userInput {
	width:250px;
	vertical-align:central;
	text-align:center;
}

reg{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 12px;
}
long{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 10px;
}
