table.master{   
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border-color:#DDD;
	border-width:5;
	border-style:solid;
    text-align:center;
    font-size:12px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	width:50%;
	outline-color:#000000;
}

table.master td{ 
	border-collapse:collapse;                          
    text-align:center;
    font-size:12px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	vertical-align:middle;
}

table.header {
	border-spacing:0px;
	background-color:#640641;
	color:#FFFFFF;
	border-collapse:collapse;     
    text-align:left;
    font-size:12px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	width:100%;
	vertical-align:middle;
}

table.header th{ 
	border-collapse:collapse;
	background-color:#640641;
	color:#FFFFFF;                          
    text-align:center;
    font-size:20px;
	font-weight:bold;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	vertical-align:middle;
}

table.header td {  
	border-collapse:collapse; 
	background-color:#DDDDDD;
	color:#000000;                        
    text-align:left;
    font-size:12px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	vertical-align:middle;
}

table.question {
	border-collapse:collapse;    
	width:100%;
    font-size: 12px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    text-align:left;
	color:#000;
	vertical-align:center;
}

table.question th {
    padding: 4px 4px 4x 4px;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family: Verdana, Tahoma, Helvetica, Arial;
	text-align:left;
}

table.question td {
	padding: 2px 4px 2px 4px;
	color:#000;
	font-size:12px;
	text-align:left;
	font-family: Verdana, Tahoma, Helvetica, Arial;
}

table.footer { 
	border-collapse:collapse;
	border-spacing:10px;
	background-color:#DDDDDD;                             
    width:100%;
    margin:0; 
    font-size:12px;
    text-align:left; 
    color:#000;       
    font-family: Verdana, Tahoma, Helvetica, Arial;
}

table.footer td{ 
	background-color:#DDDDDD;                          
    font-size:12px;
    text-align:left;
	padding:10px 10px 10px 10px;
    font-family: Verdana, Tahoma, Helvetica, Arial;
	color:#000;
	vertical-align:middle;
}

reg{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 8px;
}
long{
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    FONT-SIZE : 8px;
}
