*, *:after, *:before {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {                           
    font-size: 16px;
    font-family: Verdana, Tahoma, Helvetica, Arial; 
	margin:0;
}

img {
	max-width:100%;
	
}

h1, h2, h3, h4, h5 {
	text-align:center;
	margin-top:0;
}

h2 {
	
}

h3 {
	
}

h4 {
	margin:0.5em 0 0;
}

h5 {
	margin:0 0 0.5em;
}

label {
	font-weight:bold;
	line-height:1.3;
	font-size:0.875em;
}

select, input[type="text"] {
	width:300px;
	padding:0.5em;
	line-height:1.3;
	font-size:1em;
}

fieldset {
	border:1px solid rgb(192, 192, 192);
	padding:20px;
}

fieldset.formRow {
	margin:0.5em 0 0;
}

legend {
	border:1px solid rgb(192, 192, 192);
	padding:0.3em;
	margin-left:0.5em;
}

fieldset label, .formRow label {
	float:left;
	width:30%;
	padding:0.5em 0;
}

fieldset select, .formRow select, .formRow textarea, .formRow input[type="text"] {
	float:right;
	width:70%;
}

.scoreTracker {
	margin:auto;
	max-width:500px;
	padding:10px;
}

.scoreTracker button, .scoreTracker .button, 
.scoreTracker input[type="button"], .scoreTracker input[type="submit"] {
	background:#CCCCCC;
	border:1px solid #222222;
	color:#222222;
	color:white;
	font-weight:bold;
	display:inline-block;
	margin:0.5em -0.3em 0.5em 0;
	padding:0.5em 1em;
	cursor:pointer;
}

.scoreTracker button:hover, .scoreTracker .button:hover, 
.scoreTracker input[type="button"]:hover, .scoreTracker input[type="submit"]:hover,
.scoreTracker button:focus, .scoreTracker .button:focus, 
.scoreTracker input[type="button"]:focus, .scoreTracker input[type="submit"]:focus {
	background:#222222;
	color:white;
}

.scoreTracker.scoreTracker-1 button, .scoreTracker.scoreTracker-1 .button, 
.scoreTracker.scoreTracker-1 input[type="button"], .scoreTracker.scoreTracker-1 input[type="submit"] {
	background:#c3121c;
	border:1px solid #AD0909;
}

.scoreTracker.scoreTracker-1 button:hover, .scoreTracker.scoreTracker-1 .button:hover, 
.scoreTracker.scoreTracker-1 input[type="button"]:hover, .scoreTracker.scoreTracker-1 input[type="submit"]:hover,
.scoreTracker.scoreTracker-1 button:focus, .scoreTracker.scoreTracker-1 .button:focus, 
.scoreTracker.scoreTracker-1 input[type="button"]:focus, .scoreTracker.scoreTracker-1 input[type="submit"]:focus {
	background:#AD0909;
}

.scoreTracker.scoreTracker-1 input,
.scoreTracker.scoreTracker-1 select,
.scoreTracker.scoreTracker-1 fieldset,
.scoreTracker.scoreTracker-1 legend,
.scoreTracker.scoreTracker-1 textarea,
.scoreTracker.scoreTracker-1 .game {
	border:1px solid #c2c7ca;
}

.scoreTracker.scoreTracker-2 button, .scoreTracker.scoreTracker-2 .button, 
.scoreTracker.scoreTracker-2 input[type="button"], .scoreTracker.scoreTracker-2 input[type="submit"] {
	background:#3399ff;
	border:1px solid #0a70d6;
}

.scoreTracker.scoreTracker-2 button:hover, .scoreTracker.scoreTracker-2 .button:hover, 
.scoreTracker.scoreTracker-2 input[type="button"]:hover, .scoreTracker.scoreTracker-2 input[type="submit"]:hover,
.scoreTracker.scoreTracker-2 button:focus, .scoreTracker.scoreTracker-2 .button:focus, 
.scoreTracker.scoreTracker-2 input[type="button"]:focus, .scoreTracker.scoreTracker-2 input[type="submit"]:focus {
	background:#0a70d6;
}

.scoreTracker.scoreTracker-2 input,
.scoreTracker.scoreTracker-2 select,
.scoreTracker.scoreTracker-2 fieldset,
.scoreTracker.scoreTracker-2 legend,
.scoreTracker.scoreTracker-2 textarea,
.scoreTracker.scoreTracker-2 .game {
	border:1px solid #181e21;
}

.scoreTracker.scoreTracker-3 button, .scoreTracker.scoreTracker-3 .button, 
.scoreTracker.scoreTracker-3 input[type="button"], .scoreTracker.scoreTracker-3 input[type="submit"] {
	background:#66b748;
	border:1px solid #4f8c4a;
}

.scoreTracker.scoreTracker-3 button:hover, .scoreTracker.scoreTracker-3 .button:hover, 
.scoreTracker.scoreTracker-3 input[type="button"]:hover, .scoreTracker.scoreTracker-3 input[type="submit"]:hover,
.scoreTracker.scoreTracker-3 button:focus, .scoreTracker.scoreTracker-3 .button:focus, 
.scoreTracker.scoreTracker-3 input[type="button"]:focus, .scoreTracker.scoreTracker-3 input[type="submit"]:focus {
	background:#4f8c4a;
}

.scoreTracker.scoreTracker-3 input,
.scoreTracker.scoreTracker-3 select,
.scoreTracker.scoreTracker-3 fieldset,
.scoreTracker.scoreTracker-3 legend,
.scoreTracker.scoreTracker-3 textarea,
.scoreTracker.scoreTracker-3 .game {
	border:1px solid #050708;
}

.scoreTracker.scoreTracker-4 button, .scoreTracker.scoreTracker-4 .button, 
.scoreTracker.scoreTracker-4 input[type="button"], .scoreTracker.scoreTracker-4 input[type="submit"] {
	background:#a5a8ab;
	border:1px solid #414142;
}

.scoreTracker.scoreTracker-4 button:hover, .scoreTracker.scoreTracker-4 .button:hover, 
.scoreTracker.scoreTracker-4 input[type="button"]:hover, .scoreTracker.scoreTracker-4 input[type="submit"]:hover,
.scoreTracker.scoreTracker-4 button:focus, .scoreTracker.scoreTracker-4 .button:focus, 
.scoreTracker.scoreTracker-4 input[type="button"]:focus, .scoreTracker.scoreTracker-4 input[type="submit"]:focus {
	background:#414142;
}

.scoreTracker.scoreTracker-4 input,
.scoreTracker.scoreTracker-4 select,
.scoreTracker.scoreTracker-4 fieldset,
.scoreTracker.scoreTracker-4 legend,
.scoreTracker.scoreTracker-4 textarea,
.scoreTracker.scoreTracker-4 .game {
	border:1px solid #a5a8ab;
}

.imageContainer {
	text-align:center;
}

.formRow {
	margin:0.5em 0;
}

.game {
	padding:20px;
	border:1px solid #ccc;
	margin-top:-1px;
}

.scores {
	text-align:center;
}

.clearFix {
	clear:both;
}

.clearFix:after {
	display:table;
	clear:both;
	content:"";
}

.team {
	float:left;
	width:48%;
	width:calc(50% - 10px);
	width:-webkit-calc(50% - 10px);
	padding:0;
}

.team.them {
	float:right;
}

.tracker {
	font-size:2em;
}

.tracker input {
	text-align:center;
}

.tracker input {
	width:70px;
	float:left;
	margin:0 10px;
	line-height:1.5;
	padding:0;
}

.scoreTracker button.scoreButton {
	float:left;
	width:calc(50% - 45px);
	width:-webkit-calc(50% - 45px);
	padding:0;
	margin:0;
	line-height:1.5;
	font-size:1em;
}

.scoreTracker button.scoreButton.plus {
	float:right;
}

.comments {
	margin:1em 0 0;
}

.comments label {
	display:block;
	padding:0;
	float:none;
}

.comments textarea {
	width:100%;
	float:none;
	min-height:80px;
}

.contactInfo {
	padding:20px 0;
}

@media screen and (max-width: 400px) 
{
	
	.scoreTracker {
		
	}
  
	fieldset label, .formRow label,
	fieldset select, .formRow select, .formRow textarea, .formRow input[type="text"] {
		float:none;
		width:100%; 
  	}
	
	.tracker input {
		margin:0;
		
	}
	
	.scoreTracker button.scoreButton {
		width:calc(50% - 35px);
		width:-webkit-calc(50% - 35px);
		margin:0;
	}
	
	fieldset, .game {
		padding:10px;	
	}
}


.score {
	text-align: center;
	border:none;
}

input {
	font-family:inherit;
	font-size:1em;
}

