table.master{
    padding: 2;
    text-align: center;
    font-size: small;
    font-family: Verdana, Tahoma, Helvetica, Arial; 
}

table.master tr{
    text-align: center;
}


table.previousTeams {
    border-width: 3px 3px 3px 3px;
    border-style: outset outset outset outset;
    border-color: gray gray gray gray;
    background-color: white;
    font-family: Verdana, Tahoma, Helvetica, Arial;
    font-size: small;
    width: 700;
    
}
table.previousTeams th {
    padding: 3px 3px 3px 3px;
    background-color: white;
	border-color:#FFFFFF;
}
table.previousTeams td {
    padding: 3px 3px 3px 3px;
	background-color:#FFFFFF;
	border-color:#FFFFFF;
}

table.leagueTeamName{
    font-size: small;
    font-family: Verdana, Tahoma, Helvetica, Arial; 
	text-align:center;
}

table.leagueTeamName td {
	text-align:center;
}

table.playerTable{
    font-size: small;
    font-family: Verdana, Tahoma, Helvetica, Arial; 
}

.userInput {
	width:300px;
}

.Table
{
	display: table;
	width:850px;
	text-align:justify;
	margin:0px auto;
}
.Row
{
	display: table-row;
	width:800px;
	margin:10px auto;
	padding:25px;
}
.repeatingRow
{
	display: table-row;
	width:800px;
	margin:10px auto;
	padding:25px;
	align:center;
}
.colourRow
{
	display: table-row;
	width:800px;
	height:15px;
	margin:0px auto;
	padding:5px;
	background:#CCCCCC;
}
.Column
{
	display: table-cell;
	margin:0px auto;
	padding:5px;

}
.Cell
{
	width:800px;
	height:25px;
	display: table-cell;
	text-align:center;
	border: solid;
	border-width: medium;
	margin:0px auto;
}
.noBorderCell
{
	width:800px;
	display: table-cell;
	margin:0px auto;
}
