table.master{                           
    padding:0.2em 0.4em;      
    text-align:center;
	border-spacing:0;
	color:#000;
}

table.master td{                           
	vertical-align:top;
	border-spacing:0;
	color:#000;
}

table.titleBox{ 
	width:100%;                          
    background:#472400;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#855C33', endColorstr='#472400',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #855C33), color-stop(1, #472400));
	background-image: -webkit-linear-gradient(top, #855C33, #472400);
	background-image: -moz-linear-gradient(top, #855C33, #472400);
	background-image: -ms-linear-gradient(top, #855C33, #472400);
	background-image: -o-linear-gradient(top, #855C33, #472400);
	background-image: linear-gradient(#855C33, #472400);
	color:#FFF;
	border:1px solid #855C33;

}

table.titleBox th{
    font-size:20px;
    font-weight:700; 
	padding:10px;
	color:#FFF;
	vertical-align:central;
	text-align:center;
}

table.getInfo {
	width:100%;
    border:1px solid #855C33;
	color:#000;
}

table.getInfo th {
    padding: 5px;
	color:#000;
	text-align:center;
	font-weight:700;
}

table.getInfo td {
    padding: 5px;
	color:#000;
	text-align:center;
	font-size:14px;
}

table.PlayerInfo {
	width:100%;
    text-align: left;
    border:1px solid #855C33;
	vertical-align:top;
}

table.PlayerInfo th {
    padding: 3px;
    border:1px solid #855C33;
	font-weight:700;
	text-align:center;
}

table.PlayerInfo td {
	padding:5px;
    border:1px solid #855C33;
}

table.bottomButton {
	width:100%;
    text-align: left;
    border:1px solid #855C33;
    background:#472400;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#855C33', endColorstr='#472400',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #855C33), color-stop(1, #472400));
	background-image: -webkit-linear-gradient(top, #855C33, #472400);
	background-image: -moz-linear-gradient(top, #855C33, #472400);
	background-image: -ms-linear-gradient(top, #855C33, #472400);
	background-image: -o-linear-gradient(top, #855C33, #472400);
	background-image: linear-gradient(#855C33, #472400);
	color:#FFF;
	vertical-align:middle;
}

table.bottomButton td {
    border:1px solid #855C33;
	padding:5px;
	color:#fff;
	font-size:16px;
}