table.master{                           
    background:#FFF;
	border-collapse:collapse;    
    text-align:center;
}

table.master td{   
	border-collapse:collapse;                        
    background:#FFF;      
    text-align:center;
	vertical-align:top;
	border: 1px solid #4C6DFF;
}

table.titleBox{ 
	border-collapse:collapse;
	width:100%;
    background: #0024C6;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C6DFF', endColorstr='#0024C6',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4C6DFF), color-stop(1, #0024C6));
	background-image: -webkit-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -moz-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -ms-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -o-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: linear-gradient(#4C6DFF, #0024C6);
	border: 1px solid #4C6DFF;
	text-align:center;
}

table.titleBox th{   
    font-size:20px;
    font-weight:700; 
	padding:10px;
	color:#FFF;
	vertical-align:central;
	text-align:center;
}

table.titleBox td{
	background: #0024C6;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C6DFF', endColorstr='#0024C6',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4C6DFF), color-stop(1, #0024C6));
	background-image: -webkit-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -moz-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -ms-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -o-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: linear-gradient(#4C6DFF, #0024C6); 
    padding:6px;
	color:#FFF;
	font-size:14px;
	font-weight:600;
}

table.getIDs {
	width:100%;
	border: 1px solid #4C6DFF;
}
table.getIDs td {
    padding: 1px;
	text-align:center;
}

table.statsInfo {
	border-collapse:collapse;
	width:100%;
	border:1px solid #4C6DFF;
}

table.statsInfo th{   
	padding:4px;
	color:#000;
	vertical-align:central;
	font-weight:700;
	text-align:center;
	border: 1px solid #4C6DFF;
}

table.statsInfo td{   
    padding:4px;
	color:#000;
	text-align:center;
	border: 1px solid #4C6DFF;
}

table.teamsAndLeagues { 
	border-collapse:collapse;
	width:100%;
    text-align:left;
	color:#000;
	vertical-align:top;
}

table.teamsAndLeagues td {
	border-collapse:collapse;
	padding-right:0px 2px;
	border: 1px solid #4C6DFF;
}

table.surveyInfo {
	border-collapse:collapse;
	width:100%;
    text-align:left;
	color:#000;
	vertical-align:top;
}

table.surveyInfo th {
	color:#000;
	font-weight:700;
	text-align:center;
	border: 1px solid #4C6DFF;
}

table.surveyInfo td {
	color:#000;
	border: 1px solid #4C6DFF;
}

table.bottomButton{                           
    width:100%;
    text-align:center; 
    color:#000;
	background: #0024C6;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C6DFF', endColorstr='#0024C6',GradientType=1 );
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4C6DFF), color-stop(1, #0024C6));
	background-image: -webkit-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -moz-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -ms-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: -o-linear-gradient(top, #4C6DFF, #0024C6);
	background-image: linear-gradient(#4C6DFF, #0024C6);    
	border: 1px solid #4C6DFF;
}

table.bottomButton td{                           
    font-size:16px;
    text-align:center;
	padding:10px;
	color:#000;
	vertical-align:central;
}

#userInput {
	width:250px;
	vertical-align:middle;
	text-align:center;
}